html {
background-color: #8491a5;
}
.quiz-text {
visibility: show;
}
#button1 {
visibility: show;
}
#button2 {
display: none;
}
#answer1 {
display: none;
}
#answer2 {
display: none;
}
#q1 {
display: none;
}
#q2 {
display: none;
}
#q3 {
display: none;
}
#correct {
font-size: 45px;
color: green;
display: none;
}
#fail {
font-size: 45px;
color: red;
display: none;
}
#button3{
display: none;
}

