html {
background-color: #8491a5;
}
.quiz-text {
visibility: show;
}
#button1 {
visibility: show;
}
#button2 {
display: none;
}
#answer1 {
display: none;
}
#answer2 {
display: none;
}
#q1 {
display: none;
}
#q2 {
display: none;
}
#q3 {
display: none;
}
#correct {
font-size: 45px;
color: green;
display: none;
}
#fail {
font-size: 45px;
color: red;
display: none;
}
#button3{
display: none;
}
#answer1-2{
	display: none;
}
#answer1-3 {
	display: none;
}
#answer2-2 {
	display: none;
}
#answer2-3 {
	display: none;
}
#button31 {
	display: none;
}
#button32{
	display: none;
}
#button4{
	display: none;
}
.winner p{
	display: none;
}
#winner {
	font-size: 42px;
	color: #00FF15;
}
#winner2 {
	font-size:32px;
	color: #00FF15;
}
#go back{
	font-size: 32px;
	color: #00FF15;
}
#goback:hover{
	text-decoration: underline;
	text-decoration-color: black;
}
#button21 {
	display: none;
}
#button22{
	display: none;
}
#fail-img{
	display: none;
}
#win-img{
	display: none;
}
#q1a1{
	display: none;
}
#q1a2{
	display: none;
}
#q2a1{
	display: none;
}
#q2a2{
	display: none;
}
#q3a1{
	display: none;
}
#q3a2{
	display: none;
}
label1 {
}
label2 {
}

label3{
	display:none;
}
label4{
	display:none;
}
label5{
	display:none;
}
label6{
	display:none;
}
